<html data-namespace-typo3-fluid="true"
      lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:schema="http://typo3.org/ns/Brotkrueml/Schema/ViewHelpers"
      schema:schemaLocation="https://brot.krue.ml/schemas/schema-1.7.0.xsd"
>
<f:layout name="Default" />
<f:section name="Main">
    <schema:type.event
        name="{data.tx_dmschema_title}"
        startDate="{f:format.date(date: data.tx_dmschema_starttime, format: 'c')}"
    >
        <f:if condition="{data.tx_dmschema_description}">
            <schema:property
                -as="description"
                value="{data.tx_dmschema_description}"
            />
        </f:if>
        <f:if condition="{data.tx_dmschema_endtime}">
            <schema:property
                -as="endDate"
                value="{f:format.date(date: data.tx_dmschema_endtime, format: 'c')}"
            />
        </f:if>
        <f:if condition="{tx_dmschema_event_images}">
            <f:for as="image" each="{tx_dmschema_event_images}">
                <schema:type.imageObject
                    -as="image"
                    url="{f:uri.image(image: image, absolute: 'true')}"
                />
            </f:for>
        </f:if>
        <schema:type.place
            -as="location"
        >
            <f:if condition="{data.tx_dmschema_location_name}">
                <schema:property
                    -as="name"
                    value="{data.tx_dmschema_location_name}"
                />
            </f:if>
            <schema:type.postalAddress
                -as="address"
                streetAddress="{data.tx_dmschema_address_street_address}"
                addressLocality="{data.tx_dmschema_address_address_locality}"
                postalCode="{data.tx_dmschema_address_postal_code}"
                addressCountry="{data.tx_dmschema_address_address_country}"
            >
                <f:if condition="{data.tx_dmschema_address_address_region}">
                    <schema:property
                        -as="addressRegion"
                        value="{data.tx_dmschema_address_address_region}"
                    />
                </f:if>
            </schema:type.postalAddress>
        </schema:type.place>
    </schema:type.event>
</f:section>
</html>
