<html data-namespace-typo3-fluid="true"
      lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:schema="http://typo3.org/ns/Brotkrueml/Schema/ViewHelpers"
      schema:schemaLocation="https://brot.krue.ml/schemas/schema-1.7.0.xsd">
<f:layout name="Default" />
<f:section name="Main">
    <schema:type.JobPosting
        title="{data.tx_dmschema_title}"
        description="{data.tx_dmschema_description}"
        datePosted="{f:format.date(date: data.tx_dmschema_date_posted, format: 'c')}"
        validThrough="{f:format.date(date: data.tx_dmschema_valid_through, format: 'c')}"
        employmentType="{data.tx_dmschema_employment_type}"
    >
        <schema:type.organization
            -as="hiringOrganization"
            name="{data.tx_dmschema_hiring_organization_name}"
        >
            <f:if condition="{data.tx_dmschema_hiring_organization_same_as}">
                <schema:property
                    -as="sameAs"
                    value="{data.tx_dmschema_hiring_organization_same_as}"
                />
            </f:if>
            <f:if condition="{tx_dmschema_hiring_organization_logo_img}">
                <schema:property
                    -as="logo"
                    value="{f:uri.image(image: tx_dmschema_hiring_organization_logo_img.0, absolute: 'true')}"
                />
            </f:if>
        </schema:type.organization>
        <schema:type.place
            -as="jobLocation"
        >
            <schema:type.postalAddress
                -as="address"
                streetAddress="{data.tx_dmschema_address_street_address}"
                addressLocality="{data.tx_dmschema_address_address_locality}"
                postalCode="{data.tx_dmschema_address_postal_code}"
                addressCountry="{data.tx_dmschema_address_address_country}"
            >
                <f:if condition="{data.tx_dmschema_address_address_region}">
                    <schema:property
                        -as="addressRegion"
                        value="{data.tx_dmschema_address_address_region}"
                    />
                </f:if>
            </schema:type.postalAddress>
        </schema:type.place>
        <schema:type.monetaryAmount
            -as="baseSalary"
            currency="{data.tx_dmschema_base_salary_currency}"
        >
            <schema:type.quantitativeValue
                -as="value"
                unitText="{data.tx_dmschema_base_salary_value_unit}"
            >
                <f:if condition="{data.tx_dmschema_base_salary_value_min} && {data.tx_dmschema_base_salary_value_max}">
                    <f:then>
                        <schema:property
                            -as="minValue"
                            value="{data.tx_dmschema_base_salary_value_min}"
                        />
                        <schema:property
                            -as="maxValue"
                            value="{data.tx_dmschema_base_salary_value_max}"
                        />
                    </f:then>
                    <f:else>
                        <schema:property
                            -as="value"
                            value="{data.tx_dmschema_base_salary_value_min}"
                        />
                    </f:else>
                </f:if>
            </schema:type.quantitativeValue>
        </schema:type.monetaryAmount>
    </schema:type.JobPosting>
</f:section>
</html>
